@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0%;
    margin: 0%;
    font-family: Poppins;
}
.a{
    z-index: 100;
    position: relative;
}
.Hn{
    background-color: #333;
    height: 80px;
    width: 100%;
}
.HorizontalNav{
    overflow:hidden;
    background-color: #333;
}
.HorizontalNav a{
    text-decoration: none;
    color: wheat;
    margin: 0%;
    float: right;
    padding: 24px 12px;
    transition: all 0.2s ease-out;

}
.HorizontalNav .fas,.far{
    font-size: 20px;
}
.HorizontalNav .nav:hover{
    transition: all 0.3s ease-out;
    border-bottom: wheat solid 6px;
    background-color: #fff;
    color: #333;
}
.wrapper{
    display: flex;
}

.container aside{
    width: 30%;
    text-align:end;
    /* background-color: #333; */
}
.container aside .signup{
    height: 50vh;
    padding: 5px 0;
    position: sticky;
    -webkit-position:sticky;
    top: 150px;
    /* background-color: #333; */
}
/* .verticalnav{
    display: flex;
} */
.verticalnav a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 24px 12px;
    tab-size: 2rem;
    transition: all 0.6s ease-out;
    border-bottom: 4px solid white ;
}
.verticalnav a:hover{
    overflow-y: hidden;
    transition: all 0.3s ease-out;
    color: white;
    background-color: #333;
    border-bottom: 4px solid wheat ;
}

.leftdisp p{
    font-size: 4rem;
    font-weight: 900;
    width: 100%;
    color: rgb(107, 107, 107);
    position: absolute;
    top: 36%;
    transform: rotate(-90deg);
    text-align: center;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: orange;
    position: relative;
    display: flex;
}

.container section{
    width: 100%;
}
.dummy1{
    background-color: rgb(238, 63, 115);
    height: 100vh;
    position: relative;
}
.dummy2{
    background-color: rgb(245, 216, 51);
    height: 100vh;
    position: relative;
}
.dummy3{
    background-color: rgb(61, 204, 240);
    height: 100vh;
    position: relative;
}
.dummy4{
    background-color: rgb(61, 240, 150);
    height: 100vh;
    position: relative;
}
.panel1{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 5%;
    background-color: #fff;
    z-index: 1;
}
.panel2{
    position: absolute;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #333;
}
.heading{
    position: absolute;
    width: 40%;
    height: 15%;
    padding: 10px;
    background-color: #fff;
    font-size: 2rem;
    top: 10%;
    left: 5%;
    z-index: 1;
}
.description{
    position: absolute;
    width: 200px;
    height: 60%;
    padding: 10px;
    background-color: #fff;
    font-size: .8rem;
    top: 27%;
    left: 5%;
    z-index: 1;
}
.imgs{
    position: absolute;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    background-color: #333;
}
.imgs2{
    position: absolute;
    width: 90%;
    height: 100%;
    left: 10%;
    background-color: #333;
}
.movingImg{
    position: absolute;
    width: 400px;
    height: 270px;
    top: 50%;
    left: 2%;
    background-color: rgb(255, 255, 255);
}
.productP{
    position: relative;
    margin: 10px;
    top: 20%;
    width: 16%;
    height: 50%;
    background-color: #fff;;
}