@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: Poppins;
}
.a{
    z-index: 100;
    position: relative;
}
.Hn{
    background-color: #333;
    height: 80px;
    width: 100%;
}
.HorizontalNav{
    overflow:hidden;
    background-color: #333;
}
.HorizontalNav a{
    text-decoration: none;
    color: wheat;
    margin: 0%;
    float: right;
    padding: 24px 12px;
    transition: all 0.2s ease-out;

}
.HorizontalNav .fas,.far{
    font-size: 20px;
}
.HorizontalNav .nav:hover{
    transition: all 0.3s ease-out;
    border-bottom: wheat solid 6px;
    background-color: #fff;
    color: #333;
}
.wrapper{
    display: flex;
}

.container aside{
    width: 40%;
    text-align:end;
    /* background-color: #333; */
}
.container aside .signup{
    height: 60vh;
    padding: 5px 0;
    position: sticky;
    -webkit-position:sticky;
    top: 150px;
    /* background-color: #333; */
}
/* .verticalnav{
    display: flex;
} */
.verticalnav a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 24px 12px;
    tab-size: 2rem;
    transition: all 0.6s ease-out;
    border-bottom: 4px solid white ;
}
.verticalnav a:hover{
    overflow-y: hidden;
    transition: all 0.3s ease-out;
    color: white;
    background-color: #333;
    border-bottom: 4px solid wheat ;
}

.leftdisp p{
    font-size: 4rem;
    font-weight: 900;
    width: 100%;
    color: rgb(107, 107, 107);
    position: absolute;
    top: 28%;
    transform: rotate(-90deg);
    text-align: center;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: orange;
}
.footer2{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 21, 99);
}
.container section{
    width: 100%;
}
.dummy1{
    background-color: rgb(238, 63, 115);
    height: 100vh;
}
.dummy2{
    background-color: rgb(245, 216, 51);
    height: 100vh;
}
.dummy3{
    background-color: rgb(61, 204, 240);
    height: 100vh;
}
.panel1{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #fff;
    left: 5%;
    top: 20%;
    z-index: 2;
}
.panel2{
    position: relative;
    width: 80%;
    height: 80%;
    background-color: rgb(128, 128, 128);
    left: 20%;
    top: -50%;
}